{% load static %}

<!DOCTYPE html>
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>注册界面</title>
<link rel="stylesheet" href="{% static 'css/style.css'%}" />
<link rel="stylesheet" href="{% static 'css/semantic.css' %}" media="screen" title="no title" charset="utf-8">
<style type="text/css">
.bk{
  background-image: url({% static 'images/2.jpg'%});
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
</style>
<body class="bk">
	{% if errors %}
		<div class="ui warning message">
						<i class="close icon"></i>
						<div class="header">status: </div>
						{% for error in errors %}
						 {{error}}
						 {% endfor %}</div>

	{% endif %}

<div class="register-container">
	<h1>ShareLink</h1>

	<div class="connect">
		<p>Link the world. Share to world.</p>
	</div>

	<form action="regist" method="post" id="registerForm">
		{% csrf_token %}
		<div>
			<input type="text" name="username" class="username" placeholder="您的用户名" autocomplete="off"id="username"/>
		</div>
		<div>
			<input type="password" name="password" class="password" placeholder="输入密码" oncontextmenu="return false" onpaste="return false" id="password"/>
		</div>
		<div>
			<input type="password" name="confirm_password" class="confirm_password" placeholder="再次输入密码" oncontextmenu="return false" onpaste="return false"id="confirm_password" />
		</div>
		<div>
			<input type="text" name="phone" class="phone_number" placeholder="输入手机号码" autocomplete="off" id="phone"/>
		</div>
		<div>
			<input type="email" name="email" class="email" placeholder="输入邮箱地址" oncontextmenu="return false" onpaste="return false"id="email " />
		</div>

		<button id="submit" type="submit">submit</button>
	</form>
	

</div>


<script src="{% static 'js/jquery.min.js'%}"></script>
<script src="{% static 'js/common.js'%}"></script>
<!--背景图片自动更换-->
<script src="{% static 'js/supersized.3.2.7.min.js'%}"></script>
<script src="{% static 'js/supersized-init.js'%}"></script>
<!--表单验证-->
<script src="{% static 'js/jquery.validate.min.js?var1.14.0'%}"></script>

</body>
</html>
